# Data Science Tools and Ecosystem

### Introduction
### This notebook summarizes the Data Science tools and Ecosystem

### Objectives:
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Tabulate commonly used Data Science Tools
* Illustrate how to use code block for simple arithematic processing
* Demonstrate how to add comments in code block

### Some of the popular languages Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. ggplot

 | Data Science Tools|
 :-----------------:

  |Jupyter |
:----------------:

   | RStudio  |
   :--------------:


   |Apache Spark|
   :------------:

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This code cell will convert 200 minutes to hours by divding with 60
200/60

3.3333333333333335

## Author
Asim Anwar